@define-color cc-bg rgba(15, 16, 20, 1);
@define-color noti-border-color rgba(255, 255, 255, 0.15);
@define-color noti-bg rgb(15, 16, 20);
@define-color noti-bg-darker rgb(15, 16, 20);
@define-color noti-bg-hover rgb(27, 27, 43);
@define-color noti-bg-focus rgba(27, 27, 27, 0.6);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
@define-color text-color rgba(169, 177, 214, 1);
@define-color text-color-disabled rgb(150, 150, 150);
@define-color bg-selected rgb(0, 128, 255);
@define-color primary-color #7aa2f7;
@define-color accent-color #f7768e;
@define-color success-color rgb(158, 206, 106);
@define-color border-color #34548a;

* {
  font-family: SF Mono;
  font-size: 13.5px;
  padding: 3px;
}

/* Control Center */
.control-center {
  background: @cc-bg;
  border: 2px solid @border-color;
  border-radius: 0px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @noti-bg-hover;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

/* Notifications */
.notification-row {
  outline: none;
  margin: 0;
  padding: 0;
}

.notification {
  background: @cc-bg;
  border-radius: 8px;
  margin: 3px -2px 3px 0;
}

.notification-content {
  background: @cc-bg;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @primary-color;
  background: @cc-bg;
}

/* Close Button */
.close-button {
  background: @accent-color;
  color: @cc-bg;
  text-shadow: none;
  padding: 0;
  border-radius: 0;
  margin-top: 5px;
  margin-right: 5px;
  transition: all 0.15s ease-in-out;
}

.close-button:hover {
  box-shadow: none;
  background: @accent-color;
  border: none;
}

/* Inline Reply */
.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: @noti-bg-darker;
  color: @text-color;
  caret-color: @text-color;
  border: 1px solid @noti-border-color;
  border-radius: 5px;
}

.inline-reply-button {
  margin-left: 4px;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  border-radius: 5px;
  color: @text-color;
}

.inline-reply-button:disabled {
  background: initial;
  color: @text-color-disabled;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: @noti-bg-hover;
}

/* Widgets */
.widget-title {
  color: @primary-color;
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 10px 10px 5px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.widget-title > button {
  font-size: 1rem;
  color: @text-color;
  background: @noti-bg;
  border-radius: 5px;
}

.widget-title > button:hover {
  background: @accent-color;
  color: @cc-bg;
}

/* Volume and Backlight */
.widget-volume,
.widget-backlight {
  background: @noti-bg-darker;
  padding: 5px;
  margin: 5px 10px;
  border-radius: 0px;
  font-size: 2rem;
  color: @primary-color;
}
